* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

html {
  height: 100%;
}

section h4 {
  color: #758096;
  font-size: 12px;
  margin-top: 25px;
}

/* Nav Aside */
#nav-aside {
  background-color: #354052;
  padding-right: 10px;
  padding-top: 15px;
  min-width: 180px;
}

#nav-admin, #nav-categories, #nav-main {
  border-top: 2px outset #2c3749;
  height: 260px;
  margin: 0px 16px;
}

#nav-calendar, #nav-home, #nav-jobs, #nav-job-boards, #nav-locations, #nav-resume, #nav-social, #nav-task, #nav-users, #nav-workflows {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 99%;
  display: inline-block;
  height: 18px;
  margin-right: 15px;
  width: 18px;
}

#nav-calendar {
  background-image: url(assets/img/aside/calendar.svg);
}

#nav-down-arrow {
  background-image: url(assets/img/aside/down-arrow.svg);
  background-position: 5px 8.2px;
  background-repeat: no-repeat;
  background-size: 70%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

#nav-down-arrow:hover {
  cursor: pointer;
}

#nav-home {
  background-image: url(assets/img/aside/home-interface.svg);
}

#nav-jobs {
  background-image: url(assets/img/aside/suitcase.svg);
}

#nav-job-boards {
  background-image: url(assets/img/aside/plan.svg);
}

.nav-link {
  border-left: 2px solid #354052;
  display: block;
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.nav-link:hover {
  background-color: rgba(38, 46, 59, 0.84);
  border-left: 2px solid teal;
}

.nav-link, #user-name {
  color: #a9b4c6;
  text-decoration: none;
}

#nav-locations {
  background-image: url(assets/img/aside/location.svg);
}

#nav-resume {
  background-image: url(assets/img/aside/newspaper.svg);
}

#nav-social {
  background-image: url(assets/img/aside/share.svg);
}

#nav-task {
  background-image: url(assets/img/aside/list.svg);
}

#nav-users {
  background-image: url(assets/img/aside/users.svg);
}

#nav-workflows {
  background-image: url(assets/img/aside/workflow.svg);
}

#user-image {
  background-image: url(assets/img/kimmy.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 99%;
  border-radius: 50%;
  height: 130px;
  margin: 10px auto;
  width: 130px;
}

#user-image-2 {
  display: none;
  visibility: hidden;
}

#user-name {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 0;
  text-align: center;
}

    /* Checkboxes */
#admin-checkbox[type="checkbox"]+label:before,
#design-checkbox[type="checkbox"]+label:before, #human-resources-checkbox[type="checkbox"]+label:before, #executive-checkbox[type="checkbox"]+label:before {
  border: 1px inset #9CA6B7;
  content: "\00a0";
  display: inline-block;
  height: 13px;
  width: 13px;
}

#admin-checkbox[type="checkbox"]:checked+label:before, #design-checkbox[type="checkbox"]:checked+label:before, #executive-checkbox[type="checkbox"]:checked+label:before, #human-resources-checkbox[type="checkbox"]:checked+label:before {
  color: #EDF2EC;
  content: "\2713";
  text-align: center;
}

.nav-checkbox {
  color: #9CA6B7;
  font-size: 13px;
  left: 14px;
  margin-left: 8px;
  position: relative;
  text-decoration: none;
  top: -23px;
}

.nav-checkbox:hover {
  background-color: #354052;
  border: none;
  color: #9CA6B7;
}

input[type="checkbox"] {
  display: none;
}

  /*Checkbox Colors*/
#admin-checkbox[type="checkbox"]+label:before,
#admin-checkbox[type="checkbox"]:checked+label:before {
  background: #E8C812;
}

#design-checkbox[type="checkbox"]+label:before,
#design-checkbox[type="checkbox"]:checked+label:before {
  background: #C46D6D;
}

#executive-checkbox[type="checkbox"]+label:before,
#executive-checkbox[type="checkbox"]:checked+label:before {
  background: #3E9953;
}

#human-resources-checkbox[type="checkbox"]+label:before,
#human-resources-checkbox[type="checkbox"]:checked+label:before {
  background: #1BA1C6;
}


/* Main Container */
#main-container {
  width: 100%;
}
    /* Header */
#add-user-btn, #calendar-btn, #grid-btn, #navigate-site-btn, .search-input {
  background-clip: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  border-right: 1.5px solid #e6e9ef;
  border-left: 1.5px solid #e6e9ef;
  display: flex;
  height: 30px;
  padding: 20px;
  width: 60px;
}

#add-user-btn:hover, #calendar-btn:hover, #grid-btn:hover, #navigate-site-btn:hover {
  box-shadow: 0 3px 4px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

#main-header {
  border: 2px solid #e6e9ef;
  display: flex;
  padding-top: 0px;
}

#main-header input {
  background: url(assets/img/header/search.svg);
  background-position: 5px 27px;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  margin-left: 15px;
  padding-left:35px;
  width: 80%;
}

  /* Header Button Images*/
#add-user-btn {
  background-image: url(assets/img/header/add-contact.svg);
}

#calendar-btn {
  background-image: url(assets/img/header/calendar.svg);
}

#grid-btn {
  background-image: url(assets/img/header/grid.svg);
}

#navigate-site-btn {
  background-image: url(assets/img/header/menu.svg);
}

#search-bar-btn {
  background-image: url(assets/img/header/search.svg);
}

    /* Job Container */
#graphic-container, #job-container-nav,
#job-description-container {
  margin-left: 20px;
  margin-bottom: 20px;
}

#job-container {
  margin-left: 20px;
}

#nav-holder-buttons {
  position: relative;
  left: 68vw;
  top: -65px;
}

#job-title {
  display: flex;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
  word-spacing: 2px;
}

#location {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

#location a {
  color: #1FB8E2;
  text-decoration: none;
}

#location img {
  height: 15px;
  width: 15px;
}

#open-button {
  background-color: #FFFFFF;
  border: 3px solid #DBE4EB;
  border-radius: 25px;
  color: #354052;
  font-weight: 600;
  height: 23px;
  padding: 7px;
  text-align: center;
  width: 75px;
}

#open-button:hover {
  border: 3px solid #354052;
}

#open-button img {
  height: 15px;
  width: 15px;
}


  /* Header Images */
#bookmark-button, #edit-button, #next-button {
  background-clip: content-box;
  background-color: #FFFFFF;    background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
  border: 3px solid #DBE4EB;
  border-radius: 50%;
  height: 20px;
  padding: 8px;
  width: 20px;
}


#bookmark-button:hover, #edit-button:hover, #next-button:hover {
  border: 3px solid #354052;
}

#bookmark-button {
  background-image: url(assets/img/bookmark.svg);
}

#edit-button {
  background-image: url(assets/img/create-new-pencil-button.svg);
}

#next-button {
  background-image: url(assets/img/next.svg);
}

    /* Job Container Navigation */
.current-job-nav-content  a {
  color: #9CA6B7;
  margin-right: 35px;
  text-decoration: none;
}

.current-job-nav-content  a:hover {
  border-bottom: 3px solid teal;
  padding-bottom: 8px;
}

    /* Main Section Container */
#main-section-container {
  background-color: #EDF2EC;
  border-top: 3px solid #D4E2F9;
}

.hide-here {
  display: none;
  visibility: hidden;
}

    /* Divider */
.divider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding-bottom: 20px;
  width: 100%;
}

.divider-arrow {
  border: 1px solid #B6C2D6;
  border-radius: 50%;
  color: #B6C2D6;
  display: block;
  height: 20px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

.horizontal-rule {
  background-color: #B6C2D6;
  border: none;
  color: #B6C2D6;
  display: block;
  height: 2px;
  width: 45%;
}

#job-nav-link-summary {
  color: black;
  font-weight: 500;
  border-bottom: 3px solid #39a9f1;
  padding-bottom: 8px;
}

/* Graphs */
.circle {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 155px;
  justify-content: center;
  margin: 20px;
  width: 155px;
}

#circle-graphs {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 52%;
}

#donuts {
  display: flex;
  flex-direction: row;
}

#graphic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px;
}

#lines {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.page-button-totals, .page-button-applications {
  background-color: #FFFFFF;
  border: 3px solid #DBE4EB;
  border-radius: 25px;
  color: #354052;
  font-weight: 700;
  padding: 10px;
  width: 220px;
  text-align: center;
}

.page-button-totals:hover, .page-button-applications:hover {
  background-color: #354052;
  color: #FFFFFF;
  cursor: pointer;
}

  /*Graph Colors & Images*/
.graph-1, .graph-2, .graph-3 {
  background-color: #EDF2EC;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
}

.graph-1 {
  border-color: #4EB8BF #4EB8BF #4EB8BF #DBE4EB;
}

.graph-2 {
  border-color: #F8F272 #F8F272 #DBE4EB #DBE4EB;
}

.graph-3 {
  border-color: #C46D6D #DBE4EB #DBE4EB #DBE4EB;
}

.line-graph-graphic {
  background-image: url(assets/img/line-graph.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;
  height:213px;
  width: 500px;
}

  /* Job Description Container */
#approved-salary, #description-title,#employment-type, #experience-title, #hiring-lead, #location-title, #position-title, #status-title {
  color: #9CA6B7;
  padding-left: 15px;
  width: 31%;
}

#hiring-lead-img {
  border-radius: 50%;
  height: 75px;
  margin: 10px 0;
  width: 75px;
}

#job-description-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding-bottom: 70px;
}

#job-description-header {
  background-color: #78849E;
  color: #FFFFFF;
  font-weight: 400;
  height: 70px;
  padding-left: 15px;
  text-align: left;
}

#job-description-header button {
  background-color: #9CA6B7;
  border: none;
  color: #FFFFFF;
  height: 35px;
  margin-left: 90px;
  width: 70px;
}

#job-description-header button:hover {
  background-color: #FFFFFF;
  color: #9CA6B7;
  cursor: pointer;
}

#job-description-header img {
  height: 15px;
  width: 15px;
}

#job-description-panel {
  background-color: #FFFFFF;
  display: flex;
  height: 741px;
  margin: 0 40px;
  max-width: 880px;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #B6C2D6;
  font-weight: 400;
  height: 76px;
  margin: 10px;
  padding-right: 100px;
}

/* Widget Aside */
#side-widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 741px;
  margin-right: 40px;
  max-width: 520px;
}

#facebook-button, #linkedin-button, #twitter-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
  cursor: pointer;
  height: 30px;
  margin: 10px 10px;
  text-align: right;
  width: 10px;
  vertical-align: middle;
}

#facebook-container {
  background-color: #3b539a;
}

#facebook-button {
  background-color: #3b539a;
  background-image: url(assets/img/widgets/facebook.svg);
  border: none;
}

#linkedin-container {
  background-color: #0084b4;
}

#linkedin-button {
  background-color: #0084b4;
  background-image: url(assets/img/widgets/linkedin.svg);
  border: none;
}

#twitter-container {
  background-color: #39a9f1;
}

#twitter-button {
  background-color: #39a9f1;
  background-image: url(assets/img/widgets/twitter.svg);
  border: none;
}

.copy {
  background-color: teal;
  border: 2px solid teal;
  color: #FFFFFF;
  cursor: pointer;
  height: 28px;
  margin-bottom: 30px;
  width: 75px;
}

.copy:hover {
  background-color: #FFFFFF;
  border: 2px solid teal;
  color: teal;
}

.sidebar-input, .upload-resume-container {
  height: 30px;
  width: 300px;
}

.link-job h5, .use-button-widget h5, .upload-resume h5 {
  color: #58677C;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0px;
}

.link-job p, .use-button-widget p, .upload-resume p {
  color: #7F8791;
  font-size: 14px;
  line-height: 18px;
}

.widget-container a {
  color: #FFFFFF;
  padding-left: 120px;
  text-decoration: none;
}

#facebook-container, #twitter-container, #linkedin-container {
  margin-bottom: 8px;
}

.link-job-container, .use-button-container {
  border-bottom: 2px solid #B6C2D6;
}

.link-job, .use-button-widget, .upload-resume {
  height: 23%;
}

#globe-icon, #widget-icon, #resume-icon {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}


/* Media Queries */
@media screen and (max-width: 1380px) {
  .circle {
    height: 220px;
    width: 220px;
  }

  #circle-graphs {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
    margin: 50px auto;
    width: 650px;
  }

  #current-job-nav {
    margin-top: 70px;
  }

  #graphic-container {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  #job-container {
    display: flex;
    height: 70px;
  }

  #job-description-container {
    align-items: center;
    flex-direction: column;
    height: 60%;
    justify-content: flex-start;
    position: relative;
    top: -200px;
  }

  #job-description-panel {
    display: table;
    height: 200px;
    margin: auto;
    margin-top: 220px;
    margin-bottom: 0;
    width: 70%;
  }

  #job-title {
    font-size: 22px;
  }

  .line-graph-graphic {
    flex-direction: row;
    height: 400px;
    margin: 120px auto 15px auto;
  }

  #location {
    font-size: 14px;
    margin-bottom: 15px;
  }

  #location img {
    height: 15px;
    width: 15px;
  }

  #main-section-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  #nav-holder-buttons {
    position: inherit;
  }

  .page-button-totals {
    font-size: 12px;
    height: 10px;
    position: inherit;
    width: 180px;
  }

  .page-button-applications {
    position: relative;
    top: -90px;
  }

  .divider {
    margin-top: 0;
  }

  #bookmark-button, #edit-button, #next-button {
    height: 10px;
    width: 10px;
  }

  #open-button {
    font-size: 12px;
    height: 20px;
    padding: 0;
    width: 50px;
  }

  #open-button img {
    height: 10px;
    width: 10px;
  }

  #side-widget-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 1040px) {
  .circle {
    font-size: 13px;
    height: 150px;
    width: 150px;
  }

  #current-job-nav {
    margin-top: 100px;
  }

  #graphic-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hide-here {
    display: inline-block;
    visibility: visible;
  }

  #job-title {
    display: inline-block;
  }

  #job-title-span {
    position: relative;
    top: -40px;
  }

  #nav-aside{
    display: none;
  }

  .nav-hidden {
    display: none;
  }

  #nav-holder-buttons{
    position: relative;
    left: 0;
    top: -10px;
  }

  #user-image-2 {
    background-image: url(assets/img/kimmy.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 99%;
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    top: 30px;
    width: 70px;
    visibility: visible;
  }
}

@media screen and (max-width: 700px) {
  #nav-holder-buttons, #user-image-2 {
    display: none;
  }

  #job-title-span {
    position: relative;
    top: 20px;
    margin: auto;
  }
}
